@using Microsoft.AspNetCore.Identity;
@model DevelopersForum.ViewModels.Profile.ProfileListModel
@inject SignInManager<ApplicationUsers> signInManager

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Browse Users</div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="userIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Member Since</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Profiles)
                {
                    <tr class="userRow">
                        <td>
                            <div class="userProfile" style="background-image: url(@user.ProfileImageUrl)"></div>
                        </td>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.MemberSince
                        </td>
                        <td>
                            @user.UserRating
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

