@model DevelopersForum.ViewModels.Post.NewPostModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            New Post | @Model.ForumName
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl)"></div>
            <span id="headingBtn">
                <a asp-controller="Forum"
                   asp-action="Topic"
                   asp-route-id="@Model.ForumId"
                   class="btn btn-secondary">
                    Back to @Model.ForumName
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection col-md-12">
            <div class="authorBlock" style="padding: 18px; border: 1px dashed #00AFCF; margin-bottom: 8px;">
                You're submitting this post as <strong>@Model.AuthorName</strong>
            </div>
            <form asp-action="AddPost" method="post" id="addPostForm">
                <div class="form-group">
                    <label asp-for="Title"><strong>Title</strong></label>
                    <input asp-for="Title" class="form-control" placeholder="Post title" />
                </div>
                <div class="form-group">
                    <label asp-for="Content"><strong>Content</strong></label>
                    <textarea asp-for="Content" class="form-control" rows="20" placeholder="Post content..."></textarea>
                </div>
                <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
                    Submit Post
                </button>
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
    </div>
</div>
